.orbit {
    border-right: white dashed 3px;
}

.orbit--merkur {
    height: 45rem;
    width: 45rem;
    top: calc(50% - 22.5rem);
    left: calc(0% - 22.5rem);

    .planet {
        bottom: 14%;
        right: -19%;
        align-items: flex-start;
        flex-direction: column-reverse;

        video {
            width: 3.25rem;
        }
    }
}

.orbit--venus {
    height: 58rem;
    width: 58rem;
    top: calc(50% - 29rem);
    left: calc(0% - 29rem);

    .planet {
        align-items: flex-start;
        flex-direction: column-reverse;
        bottom: 72%;
        right: -11.5%;

        video {
            width: 6.25rem;
        }
    }
}

.orbit--erde {
    height: 72rem;
    width: 72rem;
    top: calc(50% - 36rem);
    left: calc(0% - 36rem);

    .planet {
        top: 38%;
        right: -5.5%;
        align-items: flex-end;
        flex-direction: column-reverse;

        video {
            width: 7.125rem;
        }
    }
}

.orbit--mars {
    height: 87rem;
    width: 87rem;
    top: calc(50% - 43.5rem);
    left: calc(0% - 43.5rem);

    .planet {
        align-items: flex-end;
        bottom: 25%;
        right: -0.5%;

        video {
            width: 4.94rem;
        }
    }
}

.orbit--jupiter {
    height: 103rem;
    width: 103rem;
    top: calc(50% - 51.5rem);
    left: calc(0% - 51.5rem);

    .planet {
        align-items: center;
        flex-direction: column-reverse;
        top: 23%;
        right: -5.5%;

        video {
            width: 16.25rem;
        }
    }
}

.orbit--saturn {
    height: 120rem;
    width: 120rem;
    top: calc(50% - 60rem);
    left: calc(0% - 60rem);

    .planet {
        align-items: center;
        flex-direction: column-reverse;
        bottom: 33%;
        right: -10%;

        video {
            width: 26.87rem;
        }
        div{
            margin-right: 2rem;
        }
    }
}

.orbit--uranus {
    height: 138rem;
    width: 138rem;
    top: calc(50% - 69rem);
    left: calc(0% - 69rem);

    .planet {
        align-items: flex-start;
        flex-direction: column-reverse;
        top: 32%;
        right: -7.5%;

        video {
            width: 7.5rem;
        }
    }
}

.orbit--neptun {
    height: 157rem;
    width: 157rem;
    top: calc(50% - 78.5rem);
    left: calc(0% - 78.5rem);

    .planet {
        align-items: flex-end;
        bottom: 48%;
        right: -3.3%;
        padding-right: 2rem;

        video {
            width: 6.44rem;
        }
    }
}

.planet--sun {
    top: calc(50% - 20rem);

}

/* planet names*/

.planet__name--sun {
    top: calc(50% - 24rem);
}


.planet__name {
    background-color: #282B46;
    border-radius: 2.2rem;
    padding: 0.37rem 2.7rem;
    color: white;
    font-size: 3rem;
}

.planet__name:hover {
    cursor: pointer;
    background-color: white;
    color: #282B46;
}

.planet__name--selected {
    background-color: white;
    color: #282B46;
    text-shadow: 0.15rem 0 0 #282B46;
}

.planet__name--completed {
    background-color: white;
    padding: 0.37rem 3.3rem;
    padding-left: 1.75rem;
    color: #186B21;
    position: relative;
}

.planet__name--completed::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 10px;
    top: 53%;
    transform: translateY(-50%);
    background-image: url('/images/check.svg');
    background-size: cover;
}

.planet__name--completed:hover {
    color: #186B21;
    background-color: #CEFACE;
}

.planet__name--completed.planet__name--selected {
    background-color: #CEFACE;
    color: #186B21;
    text-shadow: 0.15rem 0 0 #186B21;
}