.show-only{
    video {
        cursor: default!important;
    }
    .planet__name{
        cursor: default!important;
        background-color: #282B46!important;
        color: white!important;
        visibility: visible!important;
    }
    .planet__name:after{
        background-image: none;
    }
}

.planet.disable {
    .planet__name {
        cursor: default;
        visibility: hidden;
    }

    video {
        cursor: default;
    }
}

.orbit {
    border-right: white dashed 3px;
}

.orbit--sun {
    border: none;
    height: 100%;
    top: calc(50% - 225px);
    left: -310px;
    width: 544px;

    .planet {
        align-items: flex-end;
        flex-direction: column-reverse;

        video {
            width: 460px;
        }

        div {
            top: 47%;
            position: absolute;
            left: 330px;
        }
    }
}

.orbit--mercury {
    height: 100%;
    width: 85%;
    left: -65%;
    top: 0;

    .planet {
        bottom: 8%;
        right: 10px;
        align-items: flex-end;

        video {
            width: 49px;
            margin-right: 25px;
        }
    }
}

.orbit--venus {
    height: 130%;
    width: 120%;
    top: -14%;
    left: -90%;

    .planet {
        align-items: flex-end;
        flex-direction: column-reverse;
        top: 20%;
        right: -30px;

        video {
            width: 78px;
        }
    }
}

.orbit--earth {
    height: 140%;
    width: 120%;
    top: -20%;
    left: -79%;

    .planet {
        top: 42%;
        right: -75px;
        align-items: center;
        flex-direction: column-reverse;

        video {
            width: 77px;
        }
    }
}

.orbit--mars {
    height: 160%;
    width: 130%;
    top: -30%;
    left: -80%;

    .planet {
        align-items: flex-start;
        flex-direction: column-reverse;
        bottom: 21%;
        right: -3%;

        video {
            width: 67px;
        }
    }
}

.orbit--jupiter {
    height: 170%;
    width: 140%;
    top: -35%;
    left: -79%;

    .planet {
        align-items: flex-start;
        flex-direction: column-reverse;
        top: 23%;
        right: -5.5%;

        video {
            width: 188px;
            margin-left: 70px;
        }
    }
}

.orbit--saturn {
    height: 180%;
    width: 150%;
    top: -40%;
    left: -77%;

    .planet {
        align-items: center;
        bottom: 24%;
        right: -9.5%;

        video {
            width: 334px;
        }

        div {
            margin-right: 7rem;
        }
    }
}

.orbit--uranus {
    height: 190%;
    width: 160%;
    top: -45%;
    left: -76%;

    .planet {
        align-items: flex-start;
        top: 26%;
        right: -4%;

        video {
            width: 95px;
            margin-left: 20px;
        }
    }
}

.orbit--neptune {
    height: 200%;
    width: 170%;
    top: -50%;
    left: -76%;

    .planet {
        align-items: flex-end;
        bottom: 37%;
        right: -5%;
        padding-right: 2rem;

        video {
            margin-right: 3%;
            width: 95px;
        }
    }
}

/* planet names*/

.planet__name {
    background-color: #282B46;
    border-radius: 2.2rem;
    padding: 18px 40px;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font-heading), serif;
    font-weight: normal;
}

.planet__name:hover {
    cursor: pointer;
    background-color: white;
    color: #282B46;
}

.planet__name--selected {
    background-color: white;
    color: #282B46;
    text-shadow: 0.15rem 0 0 #282B46;
}

.planet__name--completed {
    background-color: white;
    padding: 17px 50px 17px 40px;
    color: #186B21;
    position: relative;
}

.planet__name--completed::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 10px;
    top: 53%;
    transform: translateY(-50%);
    background-image: url('/images/check.svg');
    background-size: cover;
}

.planet__name--completed:hover {
    color: #186B21;
    background-color: #CEFACE;
}

.planet__name--completed.planet__name--selected {
    background-color: #CEFACE;
    color: #186B21;
    text-shadow: 0.15rem 0 0 #186B21;
}