.team-member__image {
    width: 185px;
    height: 185px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}
@media (max-width: 1023px) {
    .team-member__image {
        width: 124px;
        height: 124px;
    }
}
.uiux-design{
    background-color: #FF00F5;
}

.entwicklung {
    background-color: #00FFFF;
}

.management {
    background-color: #00FF66;
}